@charset "UTF-8";

/* 文字関連 */
h2 {
  font-size: 2.4rem; 
}

.list a {
  color:           initial;
  text-decoration: none;
  border:          none;
}

.info > h3 {
  font-size: 1.4rem;
}

.info li {
  font-size: 1.2rem;
}

/* レイアウト */
h2 {
  margin-bottom: 30px;
}

#wrapper {
  background: #fcfcfc;
}

.wrapper {
  display:         flex;
  flex-direction:  row;
  flex-wrap:       wrap;
  justify-content: space-between;
}

.list {
  width:         300px;
  margin-bottom: 50px;
  border:        6px solid #dfdfdf;
  transition:    500ms ease-in-out;
  overflow: hidden;
}

.list:hover {
  border-color: #F2E863;
  transition:    500ms ease-in-out;
}

.snapshot {
  overflow:   hidden;
  width:      100%;
  height:     215px;
  background: #efefef;
}

.snapshot img {
  width:      100%;
  opacity:    0.7;
  transition: 1300ms ease-in-out;
}
.list:hover .snapshot img {
  transform: scale(1.2);
  opacity: 1;
}

.info {
  background: #fff;
  padding: 2rem 1rem;
}

.info > h3 {
  margin-bottom: 1.2rem
}

.info > ul {
  display:         flex;
  flex-direction:  row;
  justify-content: end;
}

.info li {
  margin-right: 1rem;
}

.info li:last-child {
  margin-right: 0;
}
