@charset "UTF-8";

h2 {
  font-size: 2.3rem;
}

h3,
[type=text] {
  font-size: 1.6rem;
}

[type=text] {
  width:      300px;
  font-weight: bold;
  margin-top: -4px;
  padding: 5px;
  border: 1px solid #666;
  border-radius: 3px;
}

.text,
[type=button] {
  font-size: 1.4rem;
}



#content .text {
  line-height: 2rem;
}

/* layout */
h2 {
  margin-bottom: 6px;
}

h3 {
  margin-bottom: 12px;
}

#box1,
#box2,
#box3,
#box4,
#box5,
#box6 {
  background:  #fff;
  padding:       24px;
  border:        3px solid #333;
  border-radius: .8rem;
  margin:        26px 0;
}

.text {
  margin-bottom: 16px;
}

.form {
  height: 30px;
}

button {
  height: 31px;
  border: 1px solid #ccc;
  border-radius: .25rem;
  transition: .15s ease-in-out;
}

button:hover {
  background:   #ccc;
  border-color: #999;
}